// Resets, Clearfix, etc
/* @import 'partials/clearfix'; */
/* @import 'partials/reset'; */

// Variables
$headerColor: #605063;
$mainDivColor: #248F8D;
$taskHolderColor: #61ADA0;
$taskHeaderColor: #B2D5BA;
$taskCardColor: #EFF3CD;
$lightFontColor: #B2D5BA;
$darkFontColor: #605063;

// Media Query Ranges
$large: "only screen and (min-width: 900px)";

*{
  font-family: 'Reem Kufi', sans-serif;
  text-align:center;
  letter-spacing: 1px;
}

body {
  background-color: $headerColor;
  text-align: center;
  align-items: center;
  padding: 10px;
  position:relative;
  top:55px;
  z-index:1;

  @media #{$large}{
    body {
      top:55px;
    }

    div#titleDiv {
      display: block;
      width: 95%;
      font-size: 1.5em;
    }

    div#colOne {
      flex: 1 1 30%;
      .toDoButton{
        display: none;
      }
    }

    div#colTwo {
      flex: 1 1 30%;
      .doingButton{
        display: none;
      }
    }

    div#colThree {
      flex: 1 1 30%;
      .doneButton{
        display: none;
      }
    }

    #newTaskFooter {
      display: flex;
      flex-flow: row wrap;
      font-size: 20px;
      position: fixed;
      left: 18px;
      right: 18px;
      bottom: -8px;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $mainDivColor;
        width: 100%;
        #newTaskButton{
          width: 15%;
          margin-top: 0px;
        }
        input {
          margin-bottom: 15px;
          font-size: 20px;
          width: 50%;
        }
        select {
          margin: 0 15px 15px 15px;
        }
      }
    }

    #newTaskHeader {
      color: $taskCardColor;
      margin: 0px;
    }
  }
}

h1 {
  font-weight: 700;
  position: absolute;
  margin: auto;
  left: 18px;
  top: -60px;
}

div {
  padding: 8px;
}

div#mainDiv {
  background-color: $mainDivColor;
  display:flex;
  flex-flow: row wrap;
  text-align: center;
  margin-bottom: 26px;
}

.taskDiv {
  background-color: $mainDivColor;
  width: 100%;
  margin: 0px;
}

input {
  text-align: left;
  margin: 0px 5px 0px 0px;
}

div#titleDiv {
  background-color: $headerColor;
  text-align: center;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  margin:0 0 0 0;
  height: 0px;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
}

div#colOne {
  background-color: $taskHolderColor;
  .toDoButton {
    display: none;
  }
  flex: 1 1 90%;
}

div#colTwo {
  background-color: $taskHolderColor;
  .doingButton {
    display: none;
  }
  flex: 1 1 90%;
}

div#colThree {
  background-color: $taskHolderColor;
  .doneButton {
    display: none;
  }
  flex: 1 1 90%;
}

.colHeader {
  font-size: 2em;
  font-weight: 700;
  color: $taskCardColor;
}

.taskItem {
  background-color: $taskCardColor;
  padding: 0px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}



.taskItemName {
  background-color: $taskHeaderColor;
  color: $darkFontColor;
  width: 100%;
  font-size: 1.5em;
  font-weight: 700;
  margin-right: 10px;;
  padding: 0px 0px 0px 10px;
  text-align: left;
}

.taskItemNameText {
  text-align: left;
  width: 70%;
}

.taskItemBody {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.fieldLabels {
  margin: 0px;
}

.createdByLabel {
  font-size:15px;
  margin: 0px;
}

.createdByName {
  font-size: 20px;
  margin: 0px;
}

.deleteButton {
  background: #cc0000;
  background-image: -webkit-linear-gradient(top, #cc0000, #800000);
  background-image: -moz-linear-gradient(top, #cc0000, #800000);
  background-image: -ms-linear-gradient(top, #cc0000, #800000);
  background-image: -o-linear-gradient(top, #cc0000, #800000);
  background-image: linear-gradient(to bottom, #cc0000, #800000);
  font-size: 0.75em;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 15%;
  margin: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
}

.deleteButton:hover {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #990000);
  background-image: -moz-linear-gradient(top, #ff0000, #990000);
  background-image: -ms-linear-gradient(top, #ff0000, #990000);
  background-image: -o-linear-gradient(top, #ff0000, #990000);
  background-image: linear-gradient(to bottom, #ff0000, #990000);
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 15%;
  margin: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#editButton {
  background: #036564;
  background-image: -webkit-linear-gradient(top, #036564, #033649);
  background-image: -moz-linear-gradient(top, #036564, #033649);
  background-image: -ms-linear-gradient(top, #036564, #033649);
  background-image: -o-linear-gradient(top, #036564, #033649);
  background-image: linear-gradient(to bottom, #036564, #033649);
  font-size: 0.75em;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 15%;
  margin: 3px;
  position: absolute;
  top: 15px;
  right: 45px;
}

#editButton:hover {
  background: lighten(#036564, 10%);
  background-image: -webkit-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -moz-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -ms-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -o-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 15%;
  margin: 3px;
  position: absolute;
  top: 15px;
  right: 45px;
}

#saveButton {
  background: #036564;
  background-image: -webkit-linear-gradient(top, #036564, #033649);
  background-image: -moz-linear-gradient(top, #036564, #033649);
  background-image: -ms-linear-gradient(top, #036564, #033649);
  background-image: -o-linear-gradient(top, #036564, #033649);
  background-image: linear-gradient(to bottom, #036564, #033649);
  font-size: 0.75em;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  top: 0px;
  right: 20px;
  width: 90%;
}

#saveButton:hover {
  background: lighten(#036564, 10%);
  background-image: -webkit-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -moz-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -ms-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -o-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  top: 0px;
  right: 20px;
}

.assignButtonContainer {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px;
}

.assignButton {
  background: #036564;
  background-image: -webkit-linear-gradient(top, #036564, #033649);
  background-image: -moz-linear-gradient(top, #036564, #033649);
  background-image: -ms-linear-gradient(top, #036564, #033649);
  background-image: -o-linear-gradient(top, #036564, #033649);
  background-image: linear-gradient(to bottom, #036564, #033649);
  font-size: 0.75em;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 5%;
  margin: 5px;
}

.assignButton:hover {
  background: lighten(#036564, 10%);
  background-image: -webkit-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -moz-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -ms-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: -o-linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  background-image: linear-gradient(top, lighten(#036564, 10%), lighten(#033649, 10%));
  padding: 5px;
  font-weight: 700;
  border: 0px;
  border-radius: 5%;
}

.editContainer {
  display:flex;
  flex-flow: row wrap;
}

.editLabels {
  flex: 1 1 15%;
  p {
    text-align: left;
  }
}

.editInputs {
  flex: 1 1 55%;
  input {
  width: 99%;
  }
}

.editBottom {
  flex: 1 1 90%;
}

.fieldLabels {
  font-weight: 700;
}

#newTaskFooter {
  display: flex;
  font-size: 20px;
  //justify-content: center;
  //width: 96.33%;
  //align-items: center;
  flex-direction: column;
  position: fixed;
  left: 18px;
  right: 34px;
  bottom: -8px;
  div {
    display: flex;
    //flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $mainDivColor;
    width: 100%;
    #newTaskButton{
      margin-right: 11px;
      width: 80%;
    }
    input {
      margin-bottom: 15px;
      width: 80%;
      font-size: 25px;
    }
    select {
      margin: 0 15px 15px 15px;
    }
  }
}

#newTaskHeader {
  color: $lightFontColor;
  margin: 0px;
}

//iPhone 6
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #newTaskFooter {
      position: fixed;
      left: 18px;
      right: 42px;
      bottom: -8px;
      }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #newTaskFooter {
      font-size:14px;
      position: fixed;
      left: 18px;
      right: 42px;
      bottom: -8px;
        input {
          font-size: 10px;
        }
      }
}

//iPhone 6 Plus
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  #newTaskFooter {
    position: fixed;
    left: 18px;
    right: 42px;
    bottom: -8px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  #newTaskFooter {
    font-size:22px;
    position: fixed;
    left: 18px;
    right: 42px;
    bottom: -8px;
    }
}